@model GpProject.ViewModels.EventPostsViewModel

@{
    ViewBag.Title = "Details";
}
@functions
{
    public bool isOwner(int OwnerId)
    {
        if (OwnerId != Model.Person.Id)
        {
            return false;
        }
        return true;
    }
    public string isJoined(int Eventid)
    {
        //Get Event Id and Check if User is Joined
        return (Model.UserJoin.IsUserJoined(Model.Person, Model.Event, Eventid)) ? "Join" : "UnJoin";

    }

}
@Styles.Render("~/Content/Posts.css")


@*Header of Event *@
<div class=" event_header">
    <div class="split bg-blue"></div>
    <div class="split SideDetails">
        @*Tabs*@
        <ul class="nav nav-pills" id="tabs">
            <li class="active btn btn-default" data-tab-content="tab1">About</li>
            <li class=" btn btn-default" data-tab-content="tab2">Details</li>
            <li class=" btn btn-default" data-tab-content="tab3" id="@Model.Event.Id">Users</li>
        </ul>
        @*Tab Contents*@
        <div class="tab-container">
            <div class="tab-content active" data-tab-content="tab1">

                <div class="event-content">
                    <h3 class="split event-label">
                        @Html.DisplayNameFor(model => model.Event.Name)
                    </h3>
                    <p class="split event-detail">
                        @Html.DisplayFor(model => model.Event.Name)

                    </p>
                </div>
                <div class="event-content">
                    <h3 class="split event-label">
                        Owner
                    </h3>
                    <p class="split event-detail">
                        @Html.ActionLink(Model.Event.Owner.FirstName, "Details", "User", new { id = Model.Event.Owner.Id }, new { @class = "btn btn-link user-link" })

                    </p>
                </div>
                <div class="event-content">
                    <h3 class="split event-label">
                        @Html.DisplayNameFor(model => model.Event.DayStart)
                    </h3>
                    <p class="split event-detail">
                        <span class="eventspan">
                            @(Model.Event.DayStart == null ? "" : ((DateTime)Model.Event.DayStart).ToString("d MMM "))
                            @Html.DisplayFor(Model => Model.Event.TimeStart)
                        </span>
                    </p>
                </div>
                <div class="event-content">
                    <h3 class="split event-label">
                        @Html.DisplayNameFor(model => model.Event.Location)
                    </h3>
                    <p class="split event-detail">
                        @Html.DisplayFor(model => model.Event.Location)

                    </p>
                </div>

            </div>

            <div class="tab-content" data-tab-content="tab2">
                <div class="desc">
                    <h3 class="desc-header">
                        @Html.DisplayNameFor(model => model.Event.Description)
                    </h3>
                    <div class="desc-body">
                        <div class="desc-content" style="">
                            <p>
                                @Html.DisplayFor(model => model.Event.Description)

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" data-tab-content="tab3" id="Users">

            </div>
            @{
                string Status = isJoined(Model.Event.Id);
            }
            <div class="fixedjoin">
                <button class="btn btn-primary btn-lg joinbtn" id="@Model.Event.Id" data-target="tab3">@Status</button>
            </div>
        </div>
    </div>

    <div class="middle">
        <p class="text-center texthover">
            @Html.DisplayFor(Model => Model.Event.Description)
        </p>
    </div>
</div><hr />

<div class="text">
    <textarea placeholder="What's On Your Mind" class="post-input"></textarea>
    <input type="hidden" id="@Model.Post.Id" />
    <input type="submit" value="Post" class="btn btn-danger add_post" data-profile-id="@Model.Person.Id" data-place-id="@Model.Post.TypeId" data-event-id="@Model.Event.Id" />

</div>


@*<div class="carrier" id="@Model.Event.Id">

    </div>*@


<section class="posts col-sm-12" id="@Model.Event.Id">
    @if (Model.Posts.Count != 0)
    {
        Html.RenderAction("EventPosts", "Events", new { id = Model.Event.Id });

        <div class=" post notpost">
            <p>No More Posts</p>
        </div>

    }
    else
    {
        <div class="post notpost">
            <p>No Posts Yet Be The First One To Add Post</p>
        </div>
    }
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are You Sure You Want To delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger delbtn" id="selctedId">Delete</button>
            </div>
        </div>
    </div>
</div>
@*<section class="posts col-sm-12">


            foreach (var post in Model.Posts)
            {
                <div class="post" id="@post.Id">
                    <div class="post-body">
                        <div class="row post-header">
                            <div class="col-xs-8">
                                <h4 class="post-owner" id="@post.Person.Id">@post.Person.FirstName @post.Person.LastName</h4>
                                <span class="post-date">@post.DatePosted</span>
                            </div>
                            <div class="">
                                @Html.ActionLink("Delete", "Delete", null, new { @class = "link post-link" })

                                @Html.ActionLink("Edit", "Edit", null, new { @class = "link post-link" })
                            </div>
                        </div>
                        <div class="row post-content">
                            <div class="col-sm-12">
                                <span class="">@post.Content</span>
                            </div>
                        </div>
                    </div>
                    <div class="row post-interact">
                        <div class="col-xs-4 form-group">
                            <button class="btn btn-default form-control">Like</button>
                        </div>
                        <div class="col-xs-4 form-group">
                            <button class="btn btn-default form-control">Comment</button>
                        </div>
                        <div class="col-xs-4 form-group">
                            <button class="btn btn-default form-control">Share</button>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12 post-comments">
                            <ul class="comments">
                                @foreach (var comment in post.Comments)
                                {
                                    <li class="comment" id="@comment.Id">
                                        <div class="row comment-header">
                                            <div class="col-sm-8">
                                                <h5 class="comment-onwer" id="@comment.Person.Id">@comment.Person.FirstName @comment.Person.LastName</h5>
                                                <span class="comment-date">@comment.DateCommented</span>
                                            </div>
                                            <div class="col-m-4">
                                                @Html.ActionLink("Delete", "Delete", null, new { id = comment.Id }, new { @class = "link comment-link" })

                                                @Html.ActionLink("Edit", "Edit", null, new { id = comment.Id }, new { @class = "link comment-link" })
                                            </div>
                                        </div>
                                        <div class="row comment-content">
                                            <div class="col-xs-12">
                                                <span class="" id="content">
                                                    @comment.Content
                                                </span>

                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row comment-holder">
                        <div class="col-xs-8  col-sm-10 form-group">
                            <input type="text" placeholder="Add Comment" class="comment-input form-control" />
                        </div>
                        <div class="col-xs-4 col-sm-2 form-group">
                            <button class="btn btn-primary add_comment form-control" id="comment_id" data-commenter-id="@Model.Person.Id">
                                Comment
                            </button>
                        </div>
                    </div>


                </div>
            }
            <div class=" post notpost">
                <p>No More Posts</p>
            </div>
        }
        else
        {
            <div class="post notpost ">
                <p>No Posts Yet Be The First One To Add Post</p>
            </div>
        }
    </section>*@




@section scripts
    {
    <script src="@Url.Content("~/Scripts/EventScripts.js")"></script>
    @*<script>
            var eventid = $(".posts").attr("id");
            $.ajax
                ({
                    url: '/Events/EventPosts/' + eventid,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $('.posts').html(result);
                    },
                    error: function (xhr, status) {
                        console.log("error");
                    }
                });
        </script>*@

    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/HomePostsScript.js")"></script>

}

